@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Space Mono", monospace;
  font-weight: 700;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

div > button {
  background-color: hsl(183, 100%, 15%);
  border-radius: 5px;
  height: 48px;
  font-size: 1.5rem;
  font-weight: 700;
  color: hsl(189, 41%, 97%);
}
div > button:hover {
  color: hsl(183, 100%, 15%);
  background-color: hsla(172, 67%, 45%, 0.4);
}
